body {
	background-color: #DB592A;

	padding-left: 10%;
	padding-right: 10%;
}


/**title header style**/
h1 {
	 font-family: "Pacifico", cursive;
	 font-size: 70px;
	 color:white;

	 text-decoration: none;
}


/**body**/
h2 {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	color:white;

	padding-left: 2%;

	font-weight:bold;
}

h4 {
	font-family: "Signika Negative", sans-serif;
	font-size: 17px;
	color:white;

	font-weight:bold;
}

h3 {
	font-family: "Signika Negative", sans-serif;
	font-size: 17px;
	color:white;

	padding-left: 8%;

	font-weight:400;
}


a {
	 font-family: "Signika Negative", sans-serif;
	 font-size: 50px;
	 color:white;

	 text-decoration: none;
}

a:hover {
	 font-family: "Signika Negative", sans-serif;
	 font-size: 50px;

	 color: #8F391D;
}



ul li {
	list-style-type: none;

	margin: 15px;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;


	margin-left: auto;
  	margin-right: auto;

	display: flex;
	justify-content:center;

  }

.titleContainer {
	border-radius: 25px;


	background-color: #BD4D24;
	padding-top:40px;
	padding-bottom:10px;


	display: flex;
	justify-content:center;
	text-align: center;

}



.textHeading {

	background-color: none;
	padding-top:10px;

	display: flex;

}

.body {
	background-color: none;
	padding-bottom:10px;

	display: flex;

}