body {
	background-color: #DB592A;

	padding-left: 10%;
	padding-right: 10%;
}


h1 {
	 font-family: "Pacifico", cursive;
	 font-size: 70px;
	 color:white;
}

h2 {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	color:white;
}

h3 {
	font-family: "Signika Negative", sans-serif;
	font-size: 17px;

	padding-left: 10%;
	color:white;
}

h4 {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	color:white;
}


a {
	 font-family: "Signika Negative", sans-serif;
	 font-size: 30px;
	 color:white;

	 text-decoration: none;
}



a:hover {
	 font-family: "Signika Negative", sans-serif;
	 font-size: 40px;

	 color: #8F391D;
}



ul li {
	list-style-type: none;

	margin: 15px;
}




.titleContainer {
	display: flex;
	justify-content:center;
	text-align: center;
	
	
	border-radius: 25px;


	background-color: #BD4D24;
	padding-top:40px;
	padding-bottom:30px;


	

}

.contentsTable {
	background-color: none;
	padding-top:30px;
	padding-bottom:50px;
	
	text-align: center;
	

}

.contact {
	border-radius: 25px;
	padding:25px;

	background-color: #BD4D24;
	
	display: flex;
	justify-content:center;
	text-align: center;

}

.body {
	background-color: none;
	padding-top:30px;
	padding-bottom:50px;

	

	display: flex;

}

.about {
	background-color: none;
	padding-top:10px;

	display: flex;

}