body {
	background-color: #F7F7EE;


	padding-left: 10%;
	padding-right: 10%;
}


h1 {
	font-family: "Signika Negative", sans-serif;
	 font-size: 75px;
	 color:white;
}

/**body**/
h2 {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	color:black;

	font-weight:bold;
}

h3 {
	font-family: "Signika Negative", sans-serif;
	font-size: 17px;
	color:black;

	font-weight:bold;
}




a {
	font-family: "Signika Negative", sans-serif;
	font-size: 30px;
	color: #191A0F;

	justify-content:center;
   text-align: center;
   

   line-height: 40px;
	text-decoration: none;
}



a:hover {
	font-family: "Signika Negative", sans-serif;
	font-size: 30px;

	color: #CCCCCC;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;


	margin-left: auto;
  	margin-right: auto;

	display: flex;
	justify-content:center;

  }




ul li {
	list-style-type: none;

	margin: 15px;
}
h4 {
    font-family: "Signika Negative", sans-serif;
    font-size: 30px;
    color:black;

    justify-content:center;
    text-align: center;

 
}


.titleContainer {
	
	display: flex;
	justify-content:center;
	text-align: center;
	
	border-radius: 10px;


	background-color: #191A0F;
	/**padding-top:40px;**/


}

.contentsTable {

	display: inline-grid;
	grid-template-columns: auto auto;
	column-gap: 20px; 

	place-items: center;

	text-align: center;
	
	padding-bottom:50px;

	padding-left: 2%;
	

}

.contact {
	border-radius: 10px;
	padding:25px;

	background-color: #191A0F;
	
	display: flex;
	justify-content:center;
	text-align: center;

}

.body {
	background-color: none;
	padding-top:30px;
	padding-bottom:50px;

	display: flex;
	justify-content:center;

}