body {
	background-color: #DB592A;

	padding-left: 10%;
	padding-right: 10%;
}


/**title header style**/
h1 {
	 font-family: "Pacifico", cursive;
	 font-size: 70px;
	 color:white;

	 text-decoration: none;
}


/**body**/
h2 {
	font-family: "Signika Negative", sans-serif;
	font-size: 25px;
	color:white;

	font-weight:bold;
}

h3 {
	font-family: "Signika Negative", sans-serif;
	font-size: 17px;
	color:white;

	font-weight:bold;
}


a {
	 font-family: "Signika Negative", sans-serif;
	 font-size: 40px;
	 color:white;

	 text-decoration: none;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;


	margin-left: auto;
  	margin-right: auto;

	display: flex;
	justify-content:center;

  }

a:hover {
	 font-family: "Signika Negative", sans-serif;
	 font-size: 40px;

	 color: #8F391D;
}



ul li {
	list-style-type: none;

	margin: 15px;
}

.titleContainer {
	border-radius: 25px;


	background-color: #BD4D24;
	padding-top:40px;
	padding-bottom:10px;


	display: flex;
	justify-content:center;
	text-align: center;

}

.contentsTable {
	background-color: none;
	padding-top:30px;
	padding-bottom:50px;
	padding-right: 3%;
	text-align: center;
	

}

.body {
	background-color: none;
	padding-top:30px;
	padding-bottom:50px;

	

	display: flex;

}